html, body {
    background-color: rgb(66, 203, 245);
    background-image: url("img/sun.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.05);
}

.padded-content {
    padding: 20px;
}

.grass {
    background-image: url("img/grass.png");
    width: 100%;
    height: 24px;
}

.bush {
    background-image: url("img/bush.png");
    height: 80px;
    width: 100%;
    margin-bottom: -24px;
}

.small_tree {
    background-image: url("img/small_tree.png");
    height: 180px;
    width: 100%;
    margin-bottom: -80px;
}

.all {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}